
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px*/
}

*, *:before, *::after {
    box-sizing: inherit;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */

h1, h2, h3 {
    font-family: "Playfair Display SC", serif;
    margin: 0 0 5rem 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    min-width: 100%;
    display: block;
}


/* Header y Navegación */

.nombre-sitio {
    margin-top: 5rem;
    text-align: center;
}

.nombre-sitio span{
    color: #037bc0;
}

.contenedor-navegacion {
    border-top: 1px solid #e1e1e1;
}

.nav-principal {
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
}

.hero {
    background-image: url(../images/principal.jpg);
    height: 55rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto 0 auto;
}


/* CATEGORÍAS */

.categorias {
    padding-top: 5rem;
}

.categorias h2{
    text-align: center;
}

.categoria a {
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
}

.categoria a:hover {
    background-color: #037bc0;
    color: #FFFFFF;
    border-bottom-right-radius: 1rem;
}

.listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

/* BLOQUE NOSOTROS */

.sobre-nosotros {
    background-image: linear-gradient(to right, transparent 50%, #037bc0 50%, #037bc0 100%),
    url(../images/nosotros.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size:100%, 120rem ;
    padding: 10rem 0;
}

.sobre-nosotros-grid{
    display:flex;
    justify-content: flex-end;
}

.texto-nosotros{
    flex-basis: 50%;
    padding-left: 10rem;
    color: #FFF;
}

